
.select, .input {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .input, .select {
        margin-bottom: 0;
    }

    .select {
        width: 40%;
    }
    
    .input {
        margin-left: 1rem;
        width: 40%;
    }
}