
.chartContainer {
    height: 300px;
    width: 600px;
}

@media screen and (width >= 600px) {
    .chartContainer {
        height: 350px;
        width: auto;
    }
}

@media screen and (width >= 1024px) {
    .chartContainer {
        height: 400px;
    }
}