.root {
    width: 90vw;
}

.tableHeadRow {
    background-color: #4b6a9bcf;
}

.content {
    height: calc(100vh - 235.25px);
}


@media screen and (min-width: 1024px) {
    .root {
        max-width: 1200px;
        width: 1000px;
    }
}