
.container {
    background-color: #ebeaea4f;
    min-height: 80vh;
}

@media screen and (width >= 1024px) {
    .filtersContainer {
        margin-right: 1.5rem;
        width: 200px;
    }
}

@media screen and (width >= 1100px) {
    .filtersContainer {
        margin-right: 0;
        width: 330px;
    }
}