

.container {
    background-color: #CCCCCC24;
}

.container::before {
    content: "\275E" !important;
    font-size: 12rem;
    opacity: .07;
    right: 0;
    top: -6%;
    transform: translate(-6px, 0);
}