

table td, table th {
    text-wrap: nowrap;
}

.scrollable {
    height: calc(100vh - 141px);
}

.hover-primary-button:hover {
    background-color: #FFF;
    color: #000;
    opacity: .95;
}

.hover-secondary-button:hover {
    background-color: #000;
    color: #FFF;
    opacity: .70;
}