
.imageContainer {
    height: 220px;
    width: calc(100vw - 3rem);
}

@media screen and (width >= 600px) {
    .imageContainer {
        width: calc(50vw - 4rem);
    }
}

@media screen and (width >= 768px) {
    .imageContainer {
        height: 200px;
        width: calc((100vw / 3) - 3.1rem);
    }
}


@media screen and (width >= 1024px) {
    .imageContainer {
        height: 210px;
        width: calc((100vw / 4) - 3rem);
    }
}