

.stepper {
    min-height: 60vh;
    width: 90vw;
}

@media screen and (width >= 600px) {
    .stepper {
        width: 80vw;
    }
}

@media screen and (width >= 800px) {
    .form {
        min-width: 690px;
        max-width: 690px;
    }

    .stepper {
        width: 100%;
    }
}