

.stepper {
    min-height: 60vh;
    width: 90vw;
}

@media screen and (width >= 600px) {
    .stepper {
        width: 80vw;
    }
}

@media screen and (width >= 800px) {
    .stepper {
        width: 650px;
    }
}