
.imageContainer {
    height: 250px;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 50%);
    width: 70%;
}

.container {
    background-color: #CCCCCC24;
}

.listItemIconContainer {
    height: 40px;
    width: 40px;
}

.listItemIcon {
    transform: scale(.9);
}

.listItemContent {
    width: calc(100% - 63px);
}

@media screen and (width >= 600px) {
    .listItem {
        width: 48.5%;
    }
}


