

.container {
    padding: .2rem .6rem;
}

.listItem {
    border-radius: 60px 0 0 59px !important;
    justify-content: flex-start !important;
    width: 100% !important;
}

.listItemSelected::before {
    border-color: #FFF;
    border-style: solid;
    content: "";
    height: 36px;
    position: absolute;
    right: -15px;
    width: 55px;
}

.listItemSelected::before {
    border-radius: 0 0 66px 2px;
    border-width: 0 13px 27px 0px;
    top: -36px;
}

.listItemSelected::after {
    border-radius: 0 66px 2px 0;
    border-width: 27px 13px 0px 0;
    bottom: -36px;
}

.listItem svg {
    margin-right: .7rem;
}