.stepper {
    min-height: 70vh;
    max-height: 80vh;
    width: 90vw;
}

@media screen and (width >= 600px) {
    .stepper {
        width: 500px;
    }
}

@media screen and (width >= 768px) {
    .stepper {
        width: 600px;
    }
}


@media screen and (width >= 900px) {
    .stepper {
        width: 660px;
    }
}