
.mapContainer {
    height: 55vh;
}

@media screen and (width >= 600px) {
    .mapContainer {
        height: 65vh;
    }
}

@media screen and (width >= 900px) {
    .mapContainer {
        height: 85vh;
    }
}