

.row {
    height: 130px;
}

.slider {
    transition: transform 2s ease;
}

.controllers {
    transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
    .row {
        height: 60px;
    }

    .listWrapper {
        left: 1%;
        transform: translate(0, -50%);
        top: 76%;
        width: 98%;
    }

    .slider {
        transform: translate(0, 0) !important;
        justify-content: space-between;
        width: 100% !important;
    }

    .filterButtonContainer {
        height: 124px;
        width:22.3% !important;
    }

    .filtersButton {
        background-color: #f3f4f6;
        font-size: 1.2rem;
    }
}