.root {
    height: 90vh;
    width: 90%;
}

.tableHeadRow {
    background-color: #4b6a9bcf;
}

.itemsContainer {
    height: calc(100% - 75.25px);
}


@media screen and (min-width: 1024px) {
    .root {
        max-width: 1200px;
        width: 1000px;
    }
}